# .github/workflows/docker.yml
name: Build and Run with Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t nginx-analyzer .

      - name: Run Docker container
        run: |
          # Запускаем контейнер в фоне
          docker run --name nginx-analyzer-container \
            -v ${PWD}/logs:/app/logs \
            nginx-analyzer

      - name: Check reports/report.json exists
        run: |
          if [ -f "reports/report.json" ]; then
            echo "✅ report.json успешно создан."
            cat reports/report.json
          else
            echo "❌ Файл reports/report.json не найден."
            ls -la reports/
            exit 1
          fi

      - name: Stop container
        if: always()
        run: |
          docker stop nginx-analyzer-container || true
          docker rm nginx-analyzer-container || true
