name: Build and Run with Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create logs and reports directories
        run: |
          mkdir -p logs reports

      - name: Build Docker image
        run: |
          docker build -t nginx-analyzer .

      - name: Run Docker container with volume mounts
        run: |
          docker run --rm \
            -v ${PWD}/logs:/app/logs \
            -v ${PWD}/reports:/app/reports \
            nginx-analyzer

      - name: Verify report.json was generated
        run: |
          if [ -f "reports/report.json" ]; then
            echo "✅ Файл reports/report.json успешно создан."
            cat reports/report.json
          else
            echo "❌ Файл reports/report.json не найден!"
            echo "Содержимое reports/:"
            ls -la reports/
            exit 1
          fi
